h1 {
  text-align: center;
  margin-top: 20px;
}

.cart-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-container ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.cart-item-title {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  width: 800px;
}

.cart-item-quantity, .cart-item-price, .cart-item-rating {
  color: #666;
  font-size: 16px;
  padding: 0px 10px;
}

.cart-item-price {
  color: #009688;
  font-weight: bold;
}

.cart-total-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}
