.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8e6cde;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #c14c4c1a;
}

.categories-container ul {
  display: flex;
  gap: 40px;
}

.category-label {
  font-size: 20px;
  color: #666;
  font-weight: bold;
}
