.product-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  width: 30%; /* adjust the width as needed */
}

.product-title {
  height: 40px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.product-price {
  font-size: 20px;
  margin: 10px 0;
  height: 10px;
}
