* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #3c3939;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.header-container h1 {
  margin: 0;
  font-size: 24px;
  color: white;
  flex: 1;
  text-align: center;
}

.header-left {
  display: flex;
  align-items: left;
  gap: 20px;
  color: turquoise;
}

.header-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
  background-color: #3c3939;
  height: 40px;
  margin-top: 0;
}

.header-nav> li {
  color: white;
}

.header-nav > li:hover {
  color: turquoise;
}

.header-right {
  display: flex;
  align-items: right;
  gap: 20px;
}

.header-right > div {
  align-items: right;
  justify-content: right;
}

.search-bar {
  padding: 8px 12px;
  font-size: 16px;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 4px;
}

.cart-btn {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 5px;
}

.main-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}
